html, body{ 
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main{
    position: fixed;
    width: 80%;
    height: 100%;
    left: 50%;
    margin-right: -50%;
    top: 0;
    align-content: center;
    align-tracks: center;
    vertical-align: middle;
    top: 50%;
    transform: translate(-50%, -50%) };
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px 150px;
    grid-gap: 10px;
    background-color: black;
    border: 2px solid white;
    padding: 50px;
  }
  
/* #grid-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid blue;
    text-align: center;
    font-size: 30px;
} */
.item1{
  color: yellow;
  padding-top: 20px;
  font-size: 30px;
}
.item2{
    color: red;
    padding-top: 20px;
    font-size: 30px;
}
.item3{
    color: blue;
    padding-top: 20px;
    font-size: 30px;
}
.item4{
    color: green;
    padding-top: 20px;
    font-size: 30px;
}

.title{
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 20px;
}
  
/* .button1{
    color: red;
    background-color: red;
} */

.map{
    border: 5px solid yellow;
    background: black;
    opacity: 0.6;
    cursor: pointer;
}

.lists{
    border: 5px solid red;
    background: black;
    opacity: 0.6;
    cursor: pointer;
}

.trends{
    border: 5px solid blue;
    background: black;
    opacity: 0.6;
    cursor: pointer;
}

.sendData{
    border: 5px solid green;
    background: black;
    opacity: 0.6;
    cursor: pointer;
}

.map:hover {opacity: 1}
.lists:hover {opacity: 1}
.trends:hover {opacity: 1}
.sendData:hover {opacity: 1}